<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{block #title}Error{/block}</title>
    <link rel="stylesheet" href="{$basePath}/css/default.css"/>
</head>
<body>
	<div class="errorPage">
		{include #content}
	</div>
    <script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
</body>
</html>
