services:

	- Microsite\Routing\IDatabaseRouterFactory
	- Microsite\Routing\RouterFactory
	router: @Microsite\Routing\RouterFactory::createRouter

	- LeanMapper\DefaultEntityFactory
	- Microsite\LeanMapper\Mapper
	- Microsite\LeanMapper\Packages

	- LeanQuery\Hydrator
	- LeanQuery\QueryHelper
	- LeanQuery\DomainQueryFactory

	- Microsite\Application\AdminPresenter
	- Microsite\Application\PagePresenter
	- Microsite\Application\SignPresenter
	- Microsite\Application\ErrorPresenter

	- Microsite\Auth\Authenticator
	- Microsite\Auth\ISignFormFactory
	- Microsite\Site\ContentRepository
	- Microsite\Localisation\Langs

	- implement: Microsite\Site\IContentsFormFactory
	  parameters: [array contents]
	  arguments: [%contents%]

	- implement: Microsite\Navigation\INavigationFactory
	  parameters: [lang]
	  arguments: [%lang%, %siteName%]
