{extends auto}

{block #content}

<div class="l-fixedWidth">
    <div class="l-cols clearfix">
        <div class="l-col1">
            {include #col1}
        </div>
        <div class="l-col2">
            {include #col2}
        </div>
    </div>
</div>
